<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>CRUD Sample with Spring Boot, MySQL and JS</title>
  <link href="https://unpkg.com/bootstrap@3.4.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/accounts.css" rel="stylesheet"/>
</head>
<body>
  <div class="container">
    <h1>Account CRUD</h1>
    <main id="app">
      <router-view></router-view>
    </main>
  </div>

  <template id="account">
    <div>
      <h2>{{ account.name }}</h2>
      <strong>Email: </strong>
      <div>{{ account.email }}</div>
      <strong>Age: </strong>
      <div>{{ account.age }}</div>
      <br/>
      <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
      <a>
        <router-link to="/">Back to account list</router-link>
      </a>
    </div>
  </template>

  <template id="account-list">
    <div>
      <div class="actions">
        <a class="btn btn-default">
          <router-link :to="{path: '/add-account'}">
            <span class="glyphicon glyphicon-plus"></span>
            Add account
          </router-link>
        </a>
      </div>
      <div class="filters row">
        <div class="form-group col-sm-3">
          <input placeholder="Search" v-model="searchKey" class="form-control" id="search-element" required/>
        </div>
      </div>
      <table class="table">
      <caption>Accounts table</caption>
        <th scope="col" ead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Age</th>
          <th scope="col" class="col-sm-2">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="account in filteredAccounts">
          <td>
            <a>
              <router-link :to="{name: 'account', params: {account_id: account.id}}">{{ account.name }}</router-link>
            </a>
          </td>
          <td>{{ account.email }}</td>
          <td>{{ account.age }}</td>
          <td>
            <a class="btn btn-warning btn-xs">
              <router-link :to="{name: 'account-edit', params: {account_id: account.id}}">Edit</router-link>
            </a>
            <a class="btn btn-danger btn-xs">
              <router-link :to="{name: 'account-delete', params: {account_id: account.id}}">Delete</router-link>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </template>


  <template id="add-account">
    <div>
      <h2>Add new account</h2>
      <form @submit="createAccount">
        <div class="form-group">
          <label for="add-name">Name</label>
          <input class="form-control" id="add-name" v-model="account.name" required/>
        </div>
        <div class="form-group">
          <label for="add-description">Email</label>
          <input class="form-control" id="add-email" type="email" v-model="account.email" required/>
        </div>
        <div class="form-group">
          <label for="add-stock">Age</label>
          <input class="form-control" id="add-age" v-model="account.age" required type="number" data-bv-integer-message="The value is not an integer" />
        </div>
        <label for="edit-name">Addresses</label>
        <div class="form-group" v-for="(address,k) in account.addresses" :key="k">
            <input type="text" class="form-control" v-model="address.address">
            <span>
              <em class="fas fa-minus-circle" @click="remove(k)" v-show="k || ( !k && account.addresses.length > 0)">Remove</em>
              <em class="fas fa-plus-circle" @click="add(k)">Add fields</em>
            </span>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
        <a class="btn btn-default">
          <router-link to="/">Cancel</router-link>
        </a>
      </form>
    </div>
  </template>

  <template id="account-edit">
    <div>
      <h2>Edit account</h2>
      <form @submit="updateAccount">
        <div class="form-group">
          <label for="edit-name">Name</label>
          <input class="form-control" id="edit-name" v-model="account.name" required/>
        </div>
        <div class="form-group">
          <label for="edit-email">Email</label>
          <input class="form-control" id="edit-email"  type="email" v-model="account.email" required/>
        </div>
        <div class="form-group">
          <label for="edit-stock">Age</label>
          <input class="form-control" id="edit-age" v-model="account.age" required type="number" data-bv-integer-message="The value is not an integer" />
        </div>
        <label for="edit-name">Addresses</label>
        <div class="form-group" v-for="(address,k) in account.addresses" :key="k">
		    <input type="text" class="form-control" v-model="address.address">
		    <span>
		      <em class="fas fa-minus-circle" @click="remove(k)" v-show="k || ( !k && account.addresses.length > 0)">Remove</em>
              <em class="fas fa-plus-circle" @click="add(k)">Add fields</em>
		      
		    </span>
		</div>
        <button type="submit" class="btn btn-primary">Save</button>
        <a class="btn btn-default">
          <router-link to="/">Cancel</router-link>
        </a>
      </form>
    </div>
  </template>

  <template id="account-delete">
    <div>
      <h2>Delete account {{ account.name }}</h2>
      <form @submit="deleteAccount">
        <p>The action cannot be undone.</p>
        <button type="submit" class="btn btn-danger">Delete</button>
        <a class="btn btn-default">
          <router-link to="/">Cancel</router-link>
        </a>
      </form>
    </div>
  </template>

  <script src="https://unpkg.com/vue@2.5.22/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-router@3.0.2/dist/vue-router.js"></script>
  <script src="https://unpkg.com/axios@0.18.0/dist/axios.min.js"></script>
  <script src="/accounts.js"></script>

</body>
</html>